:root {
  --main-gray: #eeeeee;
  --mid-gray: #cccccc;
  --main-darkgray: #222222;
}

@font-face {
  font-family: "LTSuperior-Regular";
  src: local("LTSuperior-Regular"), url("./fonts/LTSuperior-Regular.otf");
}
@font-face {
  font-family: "LTSuperior-Medium";
  src: local("LTSuperior-Medium"), url("./fonts/LTSuperior-Medium.otf");
}
@font-face {
  font-family: "LTSuperior-Semibold";
  src: local("LTSuperior-Semibold"), url("./fonts/LTSuperior-Semibold.otf");
}
@font-face {
  font-family: "LTSuperior-Bold";
  src: local("LTSuperior-Bold"), url("./fonts/LTSuperior-Bold.otf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "LTSuperior-Regular", monospace;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  scroll-behavior: smooth;
}

body{
  max-width: 1000px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: start;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 16px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* LOGO */
nav section {
  width: fit-content;
  display: flex;
  cursor: pointer;
}
nav section h1 {
  font-size: 16px;
}
nav section span {
  font-size: 12px;
  margin-left: 4px;
}

/* NAVBAR */
.toggle_menu {
  top: 0;
  left: 0;
  display: block;
  white-space: nowrap;
  height: 0;
  width: 100%;
  transition: 0.5s all;
  overflow: hidden;
  margin-top: 16px;
}
.toggle_menu.active {
  height: 150px;
}
.toggle_menu li:last-child .nav_item {
  background: var(--main-darkgray);
  color: white;
}

.nav_item {
  display: flex;
  padding: 10px 8px 8px;
  border: 1px solid var(--mid-gray);
}
.menu {
  width: fit-content;
  padding: 4px;
  cursor: pointer;
}
#load{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 8px 8px;
  margin-top: 4px;
  border: 1px solid var(--mid-gray);
  cursor: pointer;
  background: white;
}
#load:hover {
  background: var(--main-gray);
}

/* IMAGES */
.images {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.images .img-container {
  height: 120px;
  border-radius: 8px;
  object-fit: cover;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  filter: saturate(0);
}
.images .img-container:first-child {
  background-image: url("/img/laptop.jpg");
}
.images .img-container:last-child {
  background-image: url("/img/manchester.jpg");
}

/* PROJECTS */
main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 4px;
}
main section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section h1 {
  font-size: 12px;
  width: fit-content;
}
main ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

/* COMPONENTS */
.service {
  border: 1px solid var(--mid-gray);
  border-radius: 8px;
  padding: 16px;
}
.service a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 8px;
  color: #222222;
}
.service a div {
  display: flex;
}
.service a div i {
  width: fit-content;
}
.service a ul{
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.tag {
  display: flex;
  width: fit-content;
  gap: 8px;
  background: var(--main-gray);
  color: var(--main-darkgray);
  padding: 4px 8px 0 8px;
  border-radius: 50px;
}

.nav_item {
  border-radius: 8px;
  color: var(--main-darkgray);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

/* FORM */
#contact {
  padding: 16px;
  border: 1px solid var(--mid-gray);
  margin-top: 32px;
}
#contact form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
#contact form label {
  font-size: 16px;
  color: var(--main-darkgray);
}
#contact form input {
  border: 1px solid var(--mid-gray);
  padding: 4px 0;
}
#contact form select {
  padding: 8px 0;
  border: 1px solid var(--mid-gray);
}
#contact form textarea {
  border: 1px solid var(--mid-gray);
}
#contact form button {
  padding: 10px 8px 8px;
  border: none;
  background: var(--main-darkgray);
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

/* HELPERS */

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--mid-gray);
  margin: 2px 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.hidden,
[hidden] {
  display: none !important;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* MEDIA QUERIES */
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid var(--mid-gray);
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
@media only screen and (min-width: 836px) {
  body .images {
    flex-direction: row;
  }
  body .images .img-container {
    transition: 0.5s all;
    height: 200px;
  }
  body .images .img-container:hover {
    width: 175%;
  }
  nav .menu {
    display: none;
  }
  body header section:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body header section .toggle_menu {
    display: flex;
    height: fit-content;
    justify-content: end;
    align-items: center;
    gap: 8px;
  }
  body header section li {
    width: fit-content;
  }
  body header section li .nav_item {
    padding: 8px 16px 4px 16px;
    transition: 0.3s all;
  }
  body header section li .nav_item:hover {
    padding: 8px 24px 4px 24px;
    background: var(--main-gray);
  }
  main ul .service {
    position: relative;
    overflow: hidden;
  }
  main ul .service::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--main-gray);
    transition: 0.3s all;
    z-index: -1;
  }
  main ul .service:hover::before{
    width: 100%;
  }
}
