<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <title>Robert Gee ~ {{ block "title" . }}{{ end }}</title>
</head>
<body class="position-relative">
    <header>
        {{ block "nav" . }}{{ end }}
    </header>
    <main style="min-height: 94vh" class="p-5">
        {{ block "content" . }}{{ end }}
    </main>
    <footer class="position-absolute bottom-0 w-100 bg-body-tertiary border-top d-flex align-items-center">
        <p class="pt-3 ps-3 text-secondary">&copy; 2025 Robert Gee</p>
    </footer>
</body>
<script src="./static/js/bootstrap.bundle.min.js"></script>
</html>