{{ define "title" }}{{ .blog.Title }}{{ end }}
{{ define "content" }}
    <div class="bg-white px-6 py-32 lg:px-8">
        <div class="mx-auto max-w-3xl text-base/7 text-gray-700">
            <p class="text-base/7 font-semibold text-indigo-600">{{ .blog.Date }}</p>
            <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{{ .blog.Title }}</h1>
            <figure class="mt-16">
                <img class="aspect-video rounded-xl bg-gray-50 object-cover" src="{{.blog.Image}}" alt="">
                <figcaption class="mt-4 flex gap-x-2 text-sm/6 text-gray-500">
                    <svg class="mt-0.5 size-5 flex-none text-gray-300" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z" clip-rule="evenodd" />
                    </svg>
                    {{.blog.Caption}}
                </figcaption>
            </figure>
            <div class="mt-16 max-w-2xl">
                <h2 class="text-pretty text-3xl font-semibold tracking-tight text-gray-900">Everything you need to get up and running</h2>
                {{ range .blog.Paragraphs }}
                    <p class="mt-6">{{.}}</p>
                {{ end }}
            </div>
        </div>
    </div>

{{ end }}