{{ define "title" }}Home{{ end }}

{{ define "content" }}
    <div class="bg-white">
        <div class="py-24 sm:px-0 sm:py-12 lg:px-8">
            <div class="mx-auto max-w-2xl text-center">
                <img class="inline-block size-86 lg:size-48 rounded-md my-12" src="./static/img/me.png" alt="">
                <h2 class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">👋 Welcome to my personal site!</h2>
                <p class="mx-auto mt-6 max-w-xl text-pretty text-lg/8 text-gray-600">I am a backend Golang developer based in the UK 🇬🇧 This website is here to showcase my work and for me to discuss some topics I personally found interesting.</p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a href="/contact" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Contact Me</a>
                    <a href="/projects" class="text-sm/6 font-semibold text-gray-900">See more <span aria-hidden="true">→</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl lg:px-8">
            <div class="mx-auto max-w-3xl lg:text-center">
                <h2 class="text-base/7 font-semibold text-indigo-600">Technical Details</h2>
                <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl lg:text-balance">My current tech stack</p>
                <p class="mt-6 text-xl/8 text-gray-600">I like the simple technologies and I tend to opt in for less build dependencies / a simpler deployment process.</p>
            </div>
            <div class="mx-auto mt-16 max-w-3xl sm:mt-20 lg:mt-24 lg:max-w-none">
                <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
                    <div class="flex flex-col">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900">
                            <svg class="size-5 flex-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M5.507 4.048A3 3 0 0 1 7.785 3h8.43a3 3 0 0 1 2.278 1.048l1.722 2.008A4.533 4.533 0 0 0 19.5 6h-15c-.243 0-.482.02-.715.056l1.722-2.008Z" />
                                <path fill-rule="evenodd" d="M1.5 10.5a3 3 0 0 1 3-3h15a3 3 0 1 1 0 6h-15a3 3 0 0 1-3-3Zm15 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm2.25.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM4.5 15a3 3 0 1 0 0 6h15a3 3 0 1 0 0-6h-15Zm11.25 3.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5ZM19.5 18a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" clip-rule="evenodd" />
                            </svg>
                            Golang
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto text-xl/8 lg:text-sm/8">Golang is my go-to backend language as its simple yet super powerful. You can make anything in golang with such little time spent!</p>
                            <p class="mt-6">
                                <a href="/projects?type=go" class="text-lg/6 lg:text-sm/8 font-semibold text-indigo-600">Golang Projects<span aria-hidden="true">→</span></a>
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 flex-none">
                                <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z" clip-rule="evenodd" />
                            </svg>
                            JSDoc
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto text-xl/8 lg:text-sm/8">I like to keep my code nicely structured and types can achieve this, organising my entities and restricting their types. JSDoc also does not require a build step.</p>
                            <p class="mt-6">
                                <a href="/projects?type=jsdoc" class="text-lg/6 lg:text-sm/8 font-semibold text-indigo-600">JSDoc Projects <span aria-hidden="true">→</span></a>
                            </p>
                        </dd>
                    </div>
                    <div class="flex flex-col">
                        <dt class="flex items-center gap-x-3 text-base/7 font-semibold text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 flex-none">
                                <path d="M21 6.375c0 2.692-4.03 4.875-9 4.875S3 9.067 3 6.375 7.03 1.5 12 1.5s9 2.183 9 4.875Z" />
                                <path d="M12 12.75c2.685 0 5.19-.586 7.078-1.609a8.283 8.283 0 0 0 1.897-1.384c.016.121.025.244.025.368C21 12.817 16.97 15 12 15s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.285 8.285 0 0 0 1.897 1.384C6.809 12.164 9.315 12.75 12 12.75Z" />
                                <path d="M12 16.5c2.685 0 5.19-.586 7.078-1.609a8.282 8.282 0 0 0 1.897-1.384c.016.121.025.244.025.368 0 2.692-4.03 4.875-9 4.875s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.284 8.284 0 0 0 1.897 1.384C6.809 15.914 9.315 16.5 12 16.5Z" />
                                <path d="M12 20.25c2.685 0 5.19-.586 7.078-1.609a8.282 8.282 0 0 0 1.897-1.384c.016.121.025.244.025.368 0 2.692-4.03 4.875-9 4.875s-9-2.183-9-4.875c0-.124.009-.247.025-.368a8.284 8.284 0 0 0 1.897 1.384C6.809 19.664 9.315 20.25 12 20.25Z" />
                            </svg>
                            Postgres
                        </dt>
                        <dd class="mt-4 flex flex-auto flex-col text-base/7 text-gray-600">
                            <p class="flex-auto text-xl/8 lg:text-sm/8">This is my preferred database due to the extensive functions, transaction handling and extensions that come with postgres.</p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>

{{ end }}