{{ define "title" }}
    Not Found
{{ end }}

{{ define "content" }}
    <div class="w-100 d-flex justify-content-center align-items-center" style="min-height: 80vh">
        <p class="text-black-50 fw-bolder display-1">404 Not Found</p>
    </div>
{{ end }}